# ===== Python =====
venv/
backend/venv/
ia-training/venv/
__pycache__/
*.pyc

# ===== Django =====
db.sqlite3

# ===== Node / Angular =====
node_modules/
frontend/node_modules/
dist/

# ===== IA / Archivos pesados =====
ia-training/data/
ia-training/models/
*.h5
*.pt
*.mp4

# ===== Entornos =====
.env

# ===== Blender =====
*.blend
*.blend1
*.blend2
*.fbx
*.obj

# ===== VS Code =====
.vscode/