<div class="container">

  <div class="header-actions">
    <h2>👥 Gestión de Usuarios</h2>
    <button class="btn-add" (click)="irACrearUsuario()">
      ➕ Añadir Usuario
    </button>
  </div>

  <p class="mensaje-exito" *ngIf="mensajeExito">{{ mensajeExito }}</p>

  <div class="filters">
    <input type="text" placeholder="Buscar por nombre..." [(ngModel)]="filtro.nombre" />

    <select [(ngModel)]="filtro.rol">
      <option value="">Todos los roles</option>
      <option value="1">Administrador</option>
      <option value="2">Docente</option>
      <option value="3">Estudiante</option>
    </select>

    <button class="btn-add" (click)="cargarUsuarios(filtro, 1)">🔍 Buscar</button>
    <button class="btn-limpiar" (click)="limpiarFiltros()">🗑️ Limpiar</button>
  </div>

  <!-- TU TABLA ORIGINAL (NO SE TOCA) -->
  <table class="tabla-usuarios">
    <thead>
      <tr>
        <th>CI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Nivel/Especialidad</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of usuarios">
        <td>{{u.ci}}</td>
        <td>{{ u.nombre }}</td>
        <td>{{ u.apellido }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.rol }}</td>
        <td>{{ getValorEspecifico(u) }}</td>

        <td>
          <button 
            class="btn-estado"
            [ngClass]="{
              'btn-activar': u.estado === 'activo',
              'btn-desactivar': u.estado === 'inactivo'
            }"
            (click)="toggleEstado(u)">
            
            {{ u.estado === 'activo' ? '🔴 Activo' : '🟢 Inactivo' }}
          </button>
        </td>

        <td class="acciones">
          <button class="btn-editar" (click)="irAEditarUsuario(u.id)">
            ✏️ Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="anteriorPagina()" [disabled]="paginaActual === 1">⬅</button>

    <span class="page-info">
      Página {{ paginaActual }} de {{ totalPaginas }}
    </span>

    <button (click)="siguientePagina()" [disabled]="paginaActual >= totalPaginas">➡</button>
  </div>

</div>